<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

	<body class="productD">
		<!-- Header -->
		<% if (locals.user !=undefined) { %>
			<%- include('./partials/headerLogueado') %>
				<% }else {%>
					<%- include('./partials/headerDeslogueado') %>
						<% } %>
							<!-- /Header -->

							<!-- product detail -->
							<div class="container products-wrapper">
								<div class="d-flex align-items-center">
									<h2 class="products-title">
										<%= listaAutos.nombre %>
									</h2>
									<% if (locals.user !=undefined && locals.user.id==listaAutos.userId) { %>
										<p class="product-detail-description">
											<a href="/products/product-edit/id/<%= listaAutos.id %>">Editar</a>
										</p>

										<form class="product-detail-description"
											action="/products/delete/id/<%= listaAutos.id %>" class="editButton"
											method="POST">
											<button type="submit" class="editButton"> Borrar </button>
										</form>
										<% } %>
								</div>
								<div class="product-detail">
									<div class="row">
										<article class="col-12 col-lg-8 product-detail-info">
											<img src="/images/products/<%= listaAutos.img %>" alt=""
												class="product-detail-img">
											<p class="product-detail-description">
												<%= listaAutos.descripcion %>
											</p>
                                           
											<p class="product-detail-description"> Última modificación: <%=
												listaAutos.updatedAt %>
										</p>
											<p class="product-detail-description"> Fecha de Creación: <%=
													listaAutos.createdAt %>
											</p>
											<p class="product-detail-description">
												<a href="/users/profileUsers/<%= listaAutos.user.usuario %>"> Creado por: <%=
														listaAutos.user.usuario%></a>

											</p>

										</article>
										<div class="col-12 col-lg-4">
											<section class="comments">
												<% console.log (listaAutos.id) %>
												<% for (let i=0; i < listaAutos.comment.length; i++) { %>
													<article>
														<img src="/images/users/<%=listaAutos.comment[i].user.foto%> "
															alt="img perfil">
														<div class="data">
															<p class="user">
																<strong> <a
																		href="/users/profileUsers/<%=listaAutos.comment[i].user.usuario%>">
																		<%=listaAutos.comment[i].user.usuario%> </a>
																	 </strong>
																<%= listaAutos.comment[i].comentarios %>
															</p>
														</div>
													</article>
													<% } %>
											</section>

											<form class="form" action="/products/id/<%= listaAutos.id %>" method="POST">
												<input class="form-input" type="text" name="comentarios" value=""
													placeholder="Agregar comentario">
												<button type="submit" class="buy-now-button"> ENVIAR </button>
											</form>
											<hr>
										</div>
									</div>
								</div>
							</div>
							<!-- /product detail -->

							<!-- footer -->
							<%- include('./partials/footer') %>
								<!-- /footer -->

	</body>

</html>