<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado')  %> 
  <% }else {%>
		<%- include('./partials/headerDeslogueado')  %> 
  <% } %>
	<!-- /Header -->
	
	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row" class="row-p" >
			<div class="img-container offset-3 col-2">
				 <img src="/images/users/<%= usuario.foto%>" alt="<%= usuario.foto%>" class="foto-perfil">
				
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center  ">
					<h1 class="main-title">  <%= usuario.nombre + " " + usuario.apellido %> 
					</h1>
					<% if (locals.user != undefined) { %>
						<form  action="/users/profileUsers/<%= usuario.nombre %>" method="POST" >
							<input type="hidden" name="seguidoId" value="<%= usuario.id%>">
							<input type="hidden" name="usuario" value="<%= usuario.usuario%>">
							 
							<% if (locals.errors != undefined) { %>
								<p><%= locals.errors.message%></p>
								
							<% } else { %>
								<input type="submit" class="btn mt-3 ml-4" value = "SEGUIR">
							<% } %>
						</form>
					<% } else { %>
						<p> Logueate para seguir a este usuario</p>

					<%}%>
					
					
						
				</div>
				<div>
					<ul class="">
						<p class="profile-p"><%= usuario.email %></p>
						<li class="cprofile"><%= productosUsuario.length %> productos</li>
						<li class="cprofile"> <%=usuario.seguidores.length%> seguidores</li>
						<li class="cprofile"><%=usuario.comment.length%> comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
<!-- Mis productos -->
<div class="container products-wrapper">
	<div class="row">
		<div class="col-12">
			<h2 class="products-title">Mis productos</h2>
		</div>
		<!-- Show mis productos -->
		<% for( let i = 0; i < productosUsuario.length; i++ ) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/id/<%=productosUsuario[i].id %>">
						<figure class="product-box_image">
							<% if (productosUsuario[i].img != null) { %>
								<img src="/images/products/<%=productosUsuario[i].img %>" alt="<%= productosUsuario[i].nombre %>">
							<% } else { %>
								<img src="/images/products/defaultImage.jpg" alt="Default">
							<% }  %> 
							
						</figure>
						<article class="product-box_data">
							<h2><%= productosUsuario[i].nombre %></h2>
							<p>Descripción: <%= productosUsuario[i].descripcion %></p>
						</article>
					</a>
				</section>
			</div>			
		<% } %>
	</div>
</div>
<!-- /Mis productos -->

							<!-- footer -->
							<%- include('./partials/footer') %>
								<!-- /footer -->
	</body>

</html>